body {
    padding: 30px 0;
}
.warning {
    color: #900;
}
.spanLabel {
    padding-bottom: 1em;
    display: block;
    font-size: 0.8em;
}

#items {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0.8em;
}

#items .large {
    font-size: 0.7em;
    font-style: italic;
    color: #003f54;
}

#items .row {
    padding: 10px 0;
    border-bottom: dashed 1px #aaa;
}

#items .row.done {
    background-color: #eee;
    font-style: italic;
    color: #aaa;
}

.flr { float: right; }